extends ../shared/template
block content

  button#red RED
  button#yellow YELLOW
  button#color COLOR
  input#color-value(type='color')

  button#fadein Fade In Footer
  button#fadeout Fade Out Footer
  input#fade-number(type='number')

  h2 Home Page!
  #a A
  #b B
  #c C
  ul
    li D
    li E
    li F
  .g G
  .h H
  .i I

  footer (c)2014, Chyld Medford

block scripts
  script(src='/js/user/main.js')
  script(src='/js/user/alpha.js')

